@charset "utf-8";

.hexamind-wrapper {
	display: flex;
	flex-wrap: wrap;
	--wrapper-width: 140%;
	width: var(--wrapper-width);
	margin-right: calc(-1 * var(--wrapper-width) / 3 * 0.25 * 2 - var(--wrapper-width) / 3 * 0.05 * 2);
	margin-bottom: 20%;
}
@media(max-width: 768px) {
	.hexamind-wrapper {
		--wrapper-width: 100%;
		font-size: 3vw;
	}
}
.hexamind-hexagons {
	width: calc(100% / 16);
}
.hexamind-area {
	display: flex;
	justify-content: center;
}
.hexamind-hexagon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 200 / 173;
	background-color: lightgray;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.hexamind-hexagon.dragging {
  background-color: white;
  opacity: 0.5;
}
.hexamind-hexagon:nth-of-type(1n){
	margin-top: -5%;
}
.hexamind-area .hexamind-hexagons-line {
	transform: translateY(calc(100% / 18));
}
.hexamind-area .hexamind-hexagons-line,
.hexamind-area .hexamind-hexagons-line2 {
	margin-left: calc(-100% / 16 * 0.25 - 100% / 16 * 0.05);
}
.hexamind-hexagon>div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 90%;
	background-color: dimgray;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.hexamind-hexagon>div>input {
	color: gold;
	width: 100%;
	background-color: transparent;
	border: none;
	position: relative;
	left: 10%;
}

.hexamind-hexagon>div>a.link {
	position: relative;
	top: 35%;
	left: -40%;
}
.hexamind-hexagon>div>a.link>img {
	width: 18px;
	height: 18px;
}
.hexamind-hexagon>div>a.memo {
	position: relative;
	top: 35%;
	left: -30%;
}
.hexamind-hexagon>div>a.memo>img {
	width: 18px;
	height: 18px;
}
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(152, 152, 152, 0.7);
	width: 100%;
	height: 100%;
	z-index: 10;
}
.modal-wrapper {
	width: 30em;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
	border: 3px solid #aaa;
	border-radius: 15px;
	background-clip: padding-box;
	text-align: center;
}
.modal-head {
	padding: 10px;
}
.modal-body > textarea {
	resize: vertical;
}